.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
    margin-top: 25px;
}

.tshirt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    transition: border-color 0.3s ease;
}

.tshirt-item:hover {
    border-color: #999;
}

/*.tshirt-image {*/
/*    width: 45px;*/
/*    height: 45px;*/
/*    object-fit: cover;*/
/*    margin-bottom: 10px;*/
/*}*/

.search-bar {
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.order-options {
    margin-bottom: 20px;
}

.order-button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.order-button:hover {
    background-color: #286090;
}

.filter-container {
    margin-bottom: 20px;
}

.filter-container select {
    margin-right: 10px;
    padding: 5px;
}

.rounded-button {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rounded-button:hover {
    background-color: #286090;
}

.add-quantity {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.add-quantity input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
}

.add-quantity button {
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-quantity button:hover {
    background-color: #286090;
}

.price {
    margin-top: 15px;
}

.search-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 25px;

}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    margin-left: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.sb-sidenav-menu-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
